body{
    background-color: rgb(255, 216, 222);
    display: flex;
    flex-direction: column;
    height: 100%;
}
html{
    height: 100%;
}
.navbar{
    height: 5rem;
    background-color: white;
}

.nav-link{
    color: black !important;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
main{
    flex: 1;
}
.cardy:hover{
    opacity: 0.8;
    border: none;
}